@import '../common/vars.less';
@import '../common/bootstrap/bootstrap.less';
@import '../common/font-awesome/less/font-awesome.less';

body {
  background-color: @white;
}

.btn-toolbar button {
  margin-right: 5px;
}

.list-group-item {
  cursor: pointer;
  &:focus {
    outline: 0;
  }
  .fa-times {     //Remove cross
    padding: 3px;
  }
}

.welcome {
  margin-bottom: 25px;
}

.modal-dialog {
  max-height: 595px;
}

.canvasContainer {
  margin: 0 auto;
  canvas {
    background-color: black;
    display: block;
  }
  & > div {    //loading
    text-align: center;
  }
}
