<html>
<head>
  <title>Sobrassada Project</title>
  <link href="<%= assetsPath %>/sobrassada.css" rel="stylesheet" type="text/css" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <div id="main"></div>
  <script type="text/javascript">
  window.sobrassada = <%- config %>;
  </script>
  <script src="<%= assetsPath %>/sobrassada.js" type="text/javascript"></script>
</body>
</html>
