<html>
<head>
  <title>PROXY kaito.cat!</title>
  <link href="<%= assetsPath %>/proxy.css" rel="stylesheet" type="text/css" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <div class="container" id="app"></div>
  <script type="application/javascript">
    window.first = <%- first %>;
  </script>
  <script src="<%= assetsPath %>/proxy.js" type="text/javascript"></script>
</body>
</html>
